/* General body and layout settings */
body {
    background-color: #10162f; /* Dark purple background */
    color: #66c4ff; /* Light blue text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styling */
.head {
    text-align: center;
    padding: 40px 20px;
    background-color: #1c2a46; /* Darker purple background */
    border-bottom: 2px solid #66c4ff;
}

.head h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.head h2 {
    font-size: 1.8em;
    margin-top: 0;
    font-weight: 300;
}

/* Section for introduction and additional info */
.intro {
    text-align: left;
    margin: 50px auto;
    width: 80%;
}

.intro h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 10px 0;
}

/* Section for actions and buttons */
.Section {
    text-align: left;
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    background-color: #1c2a46; /* Dark background for sections */
    border-radius: 8px;
}

.Section h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.Section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.intro .button-36 {
    background-color: #66c4ff; /* Light blue background for buttons */
    color: #10162f; /* Dark purple text color */
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.2s ease;
}

.intro .button-36:hover {
    background-color: #3b4a6f; /* Lighter purple background on hover */
    transform: scale(1.05); /* Slight zoom effect */
}

/* Link inside button to look better */
.intro .button-36 a {
    color: #10162f;
    text-decoration: none;
}


.Section .button-36 {
    background-color: #66c4ff; /* Light blue background for buttons */
    color: #10162f; /* Dark purple text color */
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.2s ease;
}

.Section .button-36:hover {
    background-color: #3b4a6f; /* Lighter purple background on hover */
    transform: scale(1.05); /* Slight zoom effect */
}

/* Link inside button to look better */
.Section .button-36 a {
    color: #10162f;
    text-decoration: none;
}

.news-section {
    margin: 40px auto;
    text-align: center;
    width: 90%;
}

.news-section h3 {
    color: #66c4ff;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.news-section iframe {
    border: 2px solid #66c4ff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
