<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="head">
        <h1>About the project</h1>
    </div>
    <div class="intro">
        <h3>Inspiration</h3>
        <p>The idea behind this personal project is inspired by the portfolio project "U.S. Medical Insurance" from CodeCademy path "Data Analyst"</p>
        <h3>Goal of the service</h3>
        <p>This web service would be very useful for the average person to understand more about US Medical Insurance, which would help a lot of people to understand about this important topic, the full project is available in my GitHub and you're probably reding this thanks to it. Hopefully this will inspire someone to make such a beautiful service!</p>
        <h3>FUTURE UPDATES 12.12.2024</h3>
        <p>I will continue working on this project with the goal to make it as big and also as simple to understand for the average user as possible. Future updates include, better excel files to download. Make a DataBase and fill it with the DataFrames currently used by the CSVs. And more functions to be added of course! Also Develop a user system in the far future.</p> <br>
        <p>For anyone who reads this, I hope you will be the best version of yourself!</p>
        <p>Best Regards and MUCH OF LOVE</p>
        <p>Nas-K-o</p>
        <button class="button-36" role="button"><a href="{{ url_for('index') }}">Back to Home</a></button>
    </div>
</body>
</html>
