<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U.S. Medical Insurance Data Centre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
        <div class="head">
            <h1>Welcome to the U.S. Medical Insurance Data Centre</h1> <br>
            <h2>Empowering You to Make Informed Insurance Decisions</h2>

        </div>
        <div class="intro">
            <h3>Did you know?</h3>
            <p>8% of Americans are uninsured, leaving approximately 26 million people without coverage in 2023</p>
            <p>Even among those insured, 50% of working-age adults struggle to pay for healthcare costs</p>
            <p>High out-of-pocket expenses lead many to delay or skip essential medical care</p>
        </div>
        <div class="Section">
            <h3>Start Here!</h3>
            <p>Use our Insurance Cost Calculator </p>
            <p>Compare your data with data from our study with more than 1300 examples.</p>
            <button class="button-36" role="button"><a href="{{ url_for('user') }}">Calculate Insurance Cost</a></button>
            <button class="button-36" role="button"><a href="{{ url_for('main') }}">View Study Data</a></button>
        </div>

</body>
</html>
